@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body::-webkit-scrollbar {
	display: none;
}

body {
	font-size: 16px;
}

footer {
	padding: 2.5em;
	background-color: black;
	color: white;
	height: 11.25em;
	margin-top: .625em;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.logo {
	float: left;
	margin-left: 1.875em;
	margin-top: 1.18em;
	width: 2.625em;
	padding: 0;
	z-index: 1;
}

#top {
	background-image: url('../images/heroimage3.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
	height: 100vh;
	border: .125em rgba(0,0,0,0);
	position: relative;
	z-index: -1;
}

.navSelect {
	color: #595958;
	text-decoration: none;
	font-size: 1.75em;
	padding: .5em;
	font-family: 'Roboto Condensed', sans-serif;
	border: 2px solid rgba(0,0,0,0);
	padding: .125em;

}

.navSelect:hover {
	border: 2px solid #595958;
	border-radius: 5%;
}

.navSelect:active {
	background-color: #595958;
	color: white;
}

#topNav {
	float: right;
	margin: 1.25em 1.875em 0 0;
}

#topHeader {
	font-family: 'Cinzel Decorative', cursive;
	text-transform: uppercase;  
	font-size: 1.75em;
	color: black;
	margin-top: 4.375em;
	text-align: center;
	position: absolute;
	margin-left: .85em;
	margin-top: .78em;
	padding-left: 0;
	z-index: 0;
}

.line {
	border-left: .125em solid white;
	height: 7.8125em;
	margin-left: 83%;
	position: absolute;
}

#lowerNav {
	font-family: 'Roboto Condensed', sans-serif;
	position: absolute;
	margin-left: 84%;
}

#lowerHeader {
	float:left;
	font-family: 'Roboto Condensed', sans-serif;
}

.lowerNavSelect {
	 color: white;
	 text-decoration: none;
	 font-size: 1.625em;
	 margin-right: 1.5em;
}

.lowerNavSelect:hover {
	text-decoration: underline;
}

.lowerNavSelect:active {
	color: #595958;
}

.temp {
	padding: .75em;
	float: left;
	width: 25%;
}

section::after {
	content: "";
	clear: both;
	display: table;
}

span {
	background-color: white;
	border: 2px solid black;
	padding: 0.1875em 0.1875em 0.1875em 1.8em;
}

@media screen and (max-width: 1045px) {
  body {
  	font-size: 14px;
  }
}

@media screen and (max-width: 914px) {
	body {
		font-size: 12px;
	}
}

@media screen and (max-width: 790px) {
	.line, .lowerNavSelect, .lowerNavSelect:active {
		display: none;
	}
}

@media screen and (max-width: 670px) {
	#top {
		background-image: url('../images/heroimage2.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 100vh;
		border: .125em rgba(0,0,0,0);
		position: relative;
		z-index: -1;
	}
	#lowerHeader {
		font-size: 1.47em;
	}
	.temp {
		width: 50%;
	}
	.navSelect {
		color: white;
	}
}

@media screen and (max-width: 520px) {
	#topNav {
		display: none;
	}
	#lowerHeader {
		font-size: 1.45em;
	}
}